IMES_CODE/Code/SAP/IMESWebService/IMES.SAP.Implementation/Service References/SAPWSQueryMO/Z_GET_PRODORD_TO_IMES_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:n0="http://www.sap.com/webas/630/soap/features/authentication/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:sap="http://www.sap.com/webas/630/wsdl/features" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <sap:Feature name="design_0 " uri="http://www.sap.com/webas/630/soap/features/authentication/">
    <sap:Property qname="n0:AuthenticationLevel">
      <sap:Option value="n0:Basic" />
    </sap:Property>
  </sap:Feature>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char17">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="17" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZE1RESBL">
        <xsd:sequence>
          <xsd:element name="SERIALNUMBER" type="tns:char17" />
          <xsd:element name="MONUMBER" type="tns:char12" />
          <xsd:element name="MOITEM" type="tns:char4" />
          <xsd:element name="RESERVATION" type="tns:char10" />
          <xsd:element name="RESVITEM" type="tns:char4" />
          <xsd:element name="COMPONENT" type="tns:char18" />
          <xsd:element name="UNITREQQTY" type="tns:char16" />
          <xsd:element name="REQQTY" type="tns:char16" />
          <xsd:element name="WITHDRAWQTY" type="tns:char16" />
          <xsd:element name="UNIT" type="tns:char3" />
          <xsd:element name="ALTGROUP" type="tns:char2" />
          <xsd:element name="PANTOM" type="tns:char1" />
          <xsd:element name="BULK_IND" type="tns:char1" />
          <xsd:element name="DELETE_IND" type="tns:char1" />
          <xsd:element name="FINAL_ISSUE" type="tns:char1" />
          <xsd:element name="SPECIALSTOCK" type="tns:char1" />
          <xsd:element name="MN" type="tns:char16" />
          <xsd:element name="PARENT_MATERIAL" type="tns:char12" />
          <xsd:element name="REMARK1" type="tns:char10" />
          <xsd:element name="REMARK2" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMO_IMES_H">
        <xsd:sequence>
          <xsd:element name="SERIALNUMBER" type="tns:char17" />
          <xsd:element name="MONUMBER" type="tns:char12" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZE1AFKOL">
        <xsd:sequence>
          <xsd:element name="SERIALNUMBER" type="tns:char17" />
          <xsd:element name="PLANT" type="tns:char4" />
          <xsd:element name="MONUMBER" type="tns:char12" />
          <xsd:element name="CREATEDATE" type="tns:char8" />
          <xsd:element name="STATUS" type="tns:char4" />
          <xsd:element name="MOTYPE" type="tns:char4" />
          <xsd:element name="BUILDOUTMTL" type="tns:char18" />
          <xsd:element name="MATERIALGROUP" type="tns:char9" />
          <xsd:element name="MATERIALTYPE" type="tns:char4" />
          <xsd:element name="BASICSTARTDATE" type="tns:char8" />
          <xsd:element name="BASICFINISHDATE" type="tns:char8" />
          <xsd:element name="TOTALQTY" type="tns:char16" />
          <xsd:element name="DELIVEREDQTY" type="tns:char16" />
          <xsd:element name="UNIT" type="tns:char3" />
          <xsd:element name="PRODUCTIONVER" type="tns:char4" />
          <xsd:element name="PRIORITY" type="tns:char1" />
          <xsd:element name="BOMSTATUS" type="tns:char2" />
          <xsd:element name="BOMEXPLDATE" type="tns:char8" />
          <xsd:element name="SALESORDER" type="tns:char10" />
          <xsd:element name="SOITEM" type="tns:char6" />
          <xsd:element name="TCODE" type="tns:char20" />
          <xsd:element name="REMARK1" type="tns:char20" />
          <xsd:element name="REMARK2" type="tns:char20" />
          <xsd:element name="REMARK3" type="tns:char20" />
          <xsd:element name="REMARK4" type="tns:char20" />
          <xsd:element name="REMARK5" type="tns:char20" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZE1RESBL">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZE1RESBL" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_GET_PRODORD_TO_IMES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MO" type="tns:ZMO_IMES_H" />
            <xsd:element minOccurs="0" name="ZE1RESBL_T" type="tns:TABLE_OF_ZE1RESBL" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_GET_PRODORD_TO_IMESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZE1AFKOL_T" type="tns:ZE1AFKOL" />
            <xsd:element name="ZE1RESBL_T" type="tns:TABLE_OF_ZE1RESBL" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_GET_PRODORD_TO_IMES">
    <wsdl:part name="parameters" element="tns:Z_GET_PRODORD_TO_IMES" />
  </wsdl:message>
  <wsdl:message name="Z_GET_PRODORD_TO_IMESResponse">
    <wsdl:part name="parameters" element="tns:Z_GET_PRODORD_TO_IMESResponse" />
  </wsdl:message>
  <wsdl:portType name="Z_GET_PRODORD_TO_IMES_WS">
    <sap:useFeature feature="tns:design_0 " />
    <wsdl:operation name="Z_GET_PRODORD_TO_IMES">
      <wsdl:input message="tns:Z_GET_PRODORD_TO_IMES" />
      <wsdl:output message="tns:Z_GET_PRODORD_TO_IMESResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z_GET_PRODORD_TO_IMES_WSSoapBinding" type="tns:Z_GET_PRODORD_TO_IMES_WS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_GET_PRODORD_TO_IMES">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z_GET_PRODORD_TO_IMES_WSService">
    <wsdl:port name="Z_GET_PRODORD_TO_IMES_WSSoapBinding" binding="tns:Z_GET_PRODORD_TO_IMES_WSSoapBinding">
      <soap:address location="http://xidqdb.iec.inventec.com:8000/sap/bc/srt/rfc/sap/Z_GET_PRODORD_TO_IMES_WS?sap-client=001" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>