IMES_CODE/Code/SAP/IMESWebService/IMES.SAP.Implementation/Service References/SAPMasterWeightWS/ZWS_MASTER_WEIGHT_UPLOAD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char125">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="125" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char33">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="33" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZwsMasterWeightInLine">
        <xsd:sequence>
          <xsd:element name="Serialnumber" type="n0:char33" />
          <xsd:element name="Plant" type="n0:char4" />
          <xsd:element name="Id" type="n0:char18" />
          <xsd:element name="Grossweight" type="n0:char16" />
          <xsd:element name="Netweight" type="n0:char16" />
          <xsd:element name="Unit" type="n0:char2" />
          <xsd:element name="Remark1" type="n0:char25" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwsMasterWeightOutLine">
        <xsd:sequence>
          <xsd:element name="Serialnumber" type="n0:char33" />
          <xsd:element name="Plant" type="n0:char4" />
          <xsd:element name="Id" type="n0:char18" />
          <xsd:element name="Result" type="n0:char1" />
          <xsd:element name="Message" type="n0:char125" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwsMasterWeightInTab">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZwsMasterWeightInLine" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwsMasterWeightOutTab">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZwsMasterWeightOutLine" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZwsMasterWeightUpload">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="In" type="tns:ZwsMasterWeightInTab" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwsMasterWeightUploadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Out" type="tns:ZwsMasterWeightOutTab" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZwsMasterWeightUpload">
    <wsdl:part name="parameters" element="tns:ZwsMasterWeightUpload" />
  </wsdl:message>
  <wsdl:message name="ZwsMasterWeightUploadResponse">
    <wsdl:part name="parameters" element="tns:ZwsMasterWeightUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MASTER_WEIGHT_UPLOAD">
    <wsdl:operation name="ZwsMasterWeightUpload">
      <wsdl:input message="tns:ZwsMasterWeightUpload" />
      <wsdl:output message="tns:ZwsMasterWeightUploadResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MASTER_WEIGHT_UPLOADSoapBinding" type="tns:ZWS_MASTER_WEIGHT_UPLOAD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwsMasterWeightUpload">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MASTER_WEIGHT_UPLOADService">
    <wsdl:port name="ZWS_MASTER_WEIGHT_UPLOADSoapBinding" binding="tns:ZWS_MASTER_WEIGHT_UPLOADSoapBinding">
      <soap:address location="http://xidqdb.iec.inventec.com:8000/sap/bc/srt/rfc/sap/ZWS_MASTER_WEIGHT_UPLOAD?sap-client=001" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>