IMES_CODE/Code/SAP/IMESWebService/IMES.WS/Service References/SAPMOChangeStatusWS/Z_SET_PRODORD_TO_IMES_TECO_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:n0="http://www.sap.com/webas/630/soap/features/authentication/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:sap="http://www.sap.com/webas/630/wsdl/features" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <sap:Feature name="design_0 " uri="http://www.sap.com/webas/630/soap/features/authentication/">
    <sap:Property qname="n0:AuthenticationLevel">
      <sap:Option value="n0:Basic" />
    </sap:Property>
  </sap:Feature>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZMO_MES_TECO_I">
        <xsd:sequence>
          <xsd:element name="MONUMBER" type="tns:char12" />
          <xsd:element name="DELIVEREDQTY" type="tns:char16" />
          <xsd:element name="STATUS" type="tns:char20" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMO_MES_TECO_E">
        <xsd:sequence>
          <xsd:element name="MONUMBER" type="tns:char12" />
          <xsd:element name="DELIVEREDQTY" type="tns:char16" />
          <xsd:element name="STATUS" type="tns:char20" />
          <xsd:element name="RESULT" type="tns:char1" />
          <xsd:element name="ERRORMESSAGE" type="tns:char255" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_SET_PRODORD_TO_IMES_TECO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="INPUT" type="tns:ZMO_MES_TECO_I" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_SET_PRODORD_TO_IMES_TECOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OUTPUT" type="tns:ZMO_MES_TECO_E" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_SET_PRODORD_TO_IMES_TECO">
    <wsdl:part name="parameters" element="tns:Z_SET_PRODORD_TO_IMES_TECO" />
  </wsdl:message>
  <wsdl:message name="Z_SET_PRODORD_TO_IMES_TECOResponse">
    <wsdl:part name="parameters" element="tns:Z_SET_PRODORD_TO_IMES_TECOResponse" />
  </wsdl:message>
  <wsdl:portType name="Z_SET_PRODORD_TO_IMES_TECO_WS">
    <sap:useFeature feature="tns:design_0 " />
    <wsdl:operation name="Z_SET_PRODORD_TO_IMES_TECO">
      <wsdl:input message="tns:Z_SET_PRODORD_TO_IMES_TECO" />
      <wsdl:output message="tns:Z_SET_PRODORD_TO_IMES_TECOResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z_SET_PRODORD_TO_IMES_TECO_WSSoapBinding" type="tns:Z_SET_PRODORD_TO_IMES_TECO_WS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_SET_PRODORD_TO_IMES_TECO">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z_SET_PRODORD_TO_IMES_TECO_WSService">
    <wsdl:port name="Z_SET_PRODORD_TO_IMES_TECO_WSSoapBinding" binding="tns:Z_SET_PRODORD_TO_IMES_TECO_WSSoapBinding">
      <soap:address location="http://xidqdb.iec.inventec.com:8000/sap/bc/srt/rfc/sap/Z_SET_PRODORD_TO_IMES_TECO_WS?sap-client=001" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>